<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<head>
<meta charset="UTF-8">
<title>Content Editor Page</title>
</head>
<body>
	<div class="col-xs-12 container-fluid">
		<div th:insert="header"></div>
	</div>
	<div class="container-fluid">
		<div class="col-xs-2" style="padding-left: 0px">
			<div th:insert="sidebar"></div>
		</div>
		<div class="col-xs-10">
			<div align="center">
				<h2>This is the Content Editor Page</h2>
			</div>
		</div>
	</div>
</body>
</html>